@import "tailwindcss";

@theme inline {
  --color-brand-light: #ffffff;
  --color-brand-dark: #0b0e14;
  --color-brand-blue: #3b82f6;
  --color-text-main: #ffffff;
  --color-text-sub: #9ca3af;
}

body {
  background-color: var(--color-brand-dark);
  color: var(--color-text-main);
  font-family: 'Roboto', sans-serif
}